@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

@font-face{
    font-family: 'Agrandir';
    src: url('../public/assets/fonts/Agrandir-GrandHeavy.otf');
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}